<h1>Bookmark Index page</h1>

<table>
	<tr>
		<th>Bookmark_Name</th>
		<th>Link</th>
	</tr>
	<% @bookmarks.each do |bookmark|%>
		<tr>
			<td><%= bookmark.Bookmarkname %></td>
			<td><%= bookmark.link %></td>
			<td><%= link_to 'Edit', edit_bookmark_path(bookmark) %></td>
			<td><%= link_to 'Show', bookmark_path(bookmark) %></td>
			<td><%= link_to 'Delete', bookmark_path(bookmark) ,method: :delete ,data: {confirm:"Are you sure"}%></td>
		</tr>
	<% end %>
</table>
<br>

<%= link_to "Create a Bookmark", new_bookmark_path %>